.BannerTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 250ms;
  flex: 1;
  font-weight: 600;
  font-size: 14px;
  cursor: default;

  a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.BannerTextContainerExpand {
  height: 30px !important;
  border-bottom: 1px solid #eaeaea;
}
